/.idea
/autoclicker.py.bak
/autoclicker_1.0-DEVELOPMENT.py.bak
/autoclicker_1.0-PRODUCTION.py.bak
/autoclicker_1.1-PRODUCTION.py.bak
/desktop.ini
/developmentAC.lnk
/find-mouse-button.py.bak
/test3.py
/workingAC.lnk
/z_autoclick-button.PNG